.card {
  display: flex;
  background-color: #fff;
  flex-direction: row;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 2em;
  width: 11em;
  height: 16em;
  border-radius: 0.3em;
  box-shadow: 0em 0em 1.4em 0.1em rgb(0, 0, 0, 0.1);
}

.colorbogyo {
  width: 8em;
  height: 8em;
  margin: 1em;
  margin-bottom: 2em;
  background-color: #f4baba;
  border-radius: 4em;
}

h1 {
  font-size: 1.4em;
}
