.card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0.5vw;
  padding: 1vw;
  color: #000;
  width: 200px;
  height: 300px;
  background: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  z-index: 0;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
