.App {
  min-width: 300px;
  height: 100vh;
  padding-top: 30vh;
  padding-left: 20vw;
  background-color: #c9af98;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  text-align: center;
}
